@import "tailwindcss";
@import '@fontsource/geist-sans';
@import '@fontsource/geist-mono';
@import '@fontsource/jetbrains-mono';
@import '@fontsource/press-start-2p';

@theme {
  --color-primary: #000000;
  --color-secondary: #1B1B1E;
  --color-third: #1e2939;
  --color-fourth: #6a7282;
  --color-fifth: #ffdf20;

  --font-geist-sans: 'Geist Sans', sans-serif;
  --font-geist-mono: 'Geist Mono', monospace;

  --font-logo: 'Press Start 2P', system-ui;
  --font-brain: 'JetBrains Mono', monospace;
  --font-unbound: 'Unbounded Variable', sans-serif;


  --animate-fade-in: fadeIn 0.5s ease-in;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  outline: none;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(100%) scale(0.9);
  }

  to {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}

@keyframes slideOut {
  from {
    opacity: 1;
    transform: translateX(0) scale(10);
  }

  to {
    opacity: 0;
    transform: translateX(100%) scale(0.9);
  }
}

.event-details-enter {
  animation: slideIn 0.5s ease-out forwards;
}

.event-details-exit {
  animation: slideOut 0.5s ease-in forwards;
}